/*DARK THEME
*/


body {
	width: 100%;
	margin: 0px;
	background-color: #4D4D4D;
	overflow: hidden;
}

a {
	color: rgb(23, 125, 223);
}

button {
	background-color: #378EF0;
	color: #FFF;
	border-radius: 16px;
}

h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 40px; 
}

h2 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 28px; 
}

h3 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 18px; 
}

h4 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 12px; 
	font-weight: 400;
}

p {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px; 
}

.primary-style-dark {
	background-color: #4D4D4D;
	color: #FFF;
}

#secondary {
	background-color: #323232;
}

#disabled {
	color: #CDCDCD;
}

#lhs-panel-dark {
	border-color: #323232;
	border-width: 0px 3px 0px 0px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 40px;
	height: 715px;
	float: left;
}

#lhs-panel-dark-2 {
	border-color: #323232;
	border-width: 0px 3px 0px 0px;
	border-style: solid;
	display: flex;
	width: 40px;
	height: 715px;
	float: left;
}


#rhs-panel-dark {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 40px;
	height: 715px;
	float: right;
}

#rhs-panel-dark-2 {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	width: 40px;
	height: 715px;
	float: right;
}

#accounts-panel-dark {
	border-color: #323232;
	border-width: 0px 3px 0px 0px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: left;
	display: none;
	text-align: center;
}

#albums-panel-dark {
	border-color: #323232;
	border-width: 0px 3px 0px 0px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: left;
	display: none;
	text-align: center;
}

#add-album-panel-dark {
	border-color: #323232;
	border-width: 0px 3px 0px 0px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: left;
	display: none;
	text-align: center;
}

#members-panel-dark {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: right;
	display: none;
	text-align: center;
}

#filters-panel-dark {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: right;
	display: none;
	text-align: center;
}

#settings-panel-dark {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: right;
	display: none;
	text-align: center;
}

#notifications-panel-dark {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: right;
	display: none;
	text-align: center;
}

#share-panel-dark {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: right;
	display: none;
	text-align: center;
}

#info-panel-dark {
	border-color: #323232;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	display: flex;
	align-items: center;
	width: 200px;
	height: 715px;
	float: right;
	display: none;
	text-align: center;
}

#grid-view {
	border-color: #323232;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	display: flex;
	align-items: center;
	width: 30px;
	height: 50px;
	display: none;
}

#center-content {
	display: flex;
	align-items: center;
}

#header-dark {
	border-color: #323232;
	border-width: 0px 0px 3px 0px;
	border-style: solid;
	height: 45px;
	display: flex;
}

#album-info {
	flex-direction: column;
	flex: 1 1 0%;
}

#album-info-two {
	flex-direction: column;
	flex: 1 1 0%;
	margin-left: 50px;
}

#album-info-three {
	flex-direction: column;
	flex: 1 1 0%;
	text-align: center;
}

#album-title {
	margin-left: 10px;
	margin-bottom: 0px;
	font-weight: 400;
	margin-top: 0px;
	flex-direction: row;
}

#album-description {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	flex-direction: row;
}

.icons {
	text-align: center;
}

#header-icons {
	margin-top: 10px;
}

#header-icon {
	width: 25px;
	margin-right: 15px;
	cursor: pointer;
}

#header-icon:hover {
	opacity: 0.5;
}

#manticore-icon {
	position: fixed;
	top: 8px;
	left: 5px;
}

#user-icon {
	position: fixed;
	top: 8px;
	left: 5px;
}

#user-icon:hover {
	cursor: pointer;
	opacity: 0.5;
}

#share-icon {
	position: fixed;
	bottom: 0px;
	right: 10px;
}

#info-icon {
	position: fixed;
	bottom: 0px;
	right: 10px;
}

#add-album-icon {
	position: fixed;
	bottom: 0px;
	left: 10px;
}

.panel-icons {
	width: 20px;
	margin-bottom: 15px;
	cursor: pointer;
}

.panel-icons:hover {
	opacity: 0.5;
}

#active-album {
	border-radius: 3px;
	border-color: rgb(23, 125, 223);
	border-style: solid;
	border-width: 2px;
}

#user-popover {
	width: 165px;
	height: 110px;
	background-color: #4D4D4D;
	border-color: #323232;
	border-width: 2px;
	border-style: solid;
	border-radius: 3px;
	position: fixed;
	top: 40px;
	left: 5px;
	display: none;
}

.popover-item {
	margin: 5px;
}

.popover-item:hover {
	cursor: pointer;
	opacity: 0.5;
}

#active-item {
	border-radius: 3px;
	border-color: rgb(23, 125, 223);
	border-style: solid;
	border-width: 2px;
}